<html>
    <head>
        <style>
            body{
            background-color: rgb(255,0,0);
           }
            h1{
                font-family: Georgia, 'Times New Roman', Times, serif;
                color: rgb(153, 50, 204,0.6);
                background-color: black;
                text-align: center;
                font-size: 200%;
                border: 3px solid powderblue;
                padding: 8px;
            }
            p{
                color: rgb(12, 12, 234);
                background-color: rgb(233, 150, 122,0.5);
            }
            a{
                background-color: yellow;
            }
        </style>
    </head>
    <body>
        <h1>MY FIRST HTML DOCUMENT</h1>
        <p>I want to learn various programming lamguages and develop some skills like <br> 1.Video editing <br> 2.3D animation <br> 3.Communication skills</p>
        <a href=https://i.pinimg.com/736x/a2/67/76/a26776ac13bf650b0b65e3dcc642ccee.jpg>click on this for more information</a> 
    </body>
</html>
